RewriteEngine on

# Rewrite --- http://hua-library.azurewebsites.net/books.php?pattern=test
#             =>
#             http://hua-library.azurewebsites.net/books?pattern=test

RewriteCond %{QUERY_STRING} (^|&)pattern=test($|&)
RewriteRule ^books\.php$ /books?pattern=test&%{QUERY_STRING}